@import 'mixins';

:host {
  @include card();

  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: $cube * 20;
      height: $cube * 20;
    }
  }
}
