@import 'vars', 'mixins';

$background-color: $gray;
$border-width: $cube * 2;
$padding-side: $cube * 10;
$margin-bottom: $cube * 10;
$input-margin-top: $cube * 25;
$input-margin-bottom: $cube * 5;

:host {
  position: relative; // label is absolute: to this element
  display: flex;
  width: 100%;
  height: calc(100% - #{$margin-bottom});
  border: $border-width solid transparent;
  margin-bottom: $margin-bottom;
  background-color: $background-color;
  border-radius: $cube * 7;
  cursor: text;
  transition: border-color 150ms ease-in-out;

  @media print {
    margin: 0;
    background-color: transparent;
  }

  &:focus-within {
    border-color: $primary;
    color: $text-color;
  }

  > ::ng-deep {
    label {
      position: absolute;
      // 57px = textfield height, 18.4 = label height
      margin-top: ($cube * 57 - $cube * 18.4) * 0.5;
      margin-left: $padding-side; /*+ $border-width*/
      pointer-events: none;
      transform-origin: left;
      transition: transform 250ms ease-in-out;

      @media print {
        margin-left: 0;
        transform: translateY($cube * -10) scale(0.95);
      }
    }

    textarea[appTextFieldRef] {
      resize: vertical;
    }

    [appTextFieldRef] {
      @include bold();
      width: 100%;
      height: 100%;
      padding: $input-margin-top $padding-side $input-margin-bottom;
      border-width: 0;
      background-color: transparent;
      color: $text-color; // select tag
      opacity: 0;
      outline: none;
      transition: opacity 150ms ease-in-out;

      @media print {
        padding-left: 0;
      }
    }

    app-editor[appTextFieldRef] {
      padding: 0;

      > div {
        padding: $input-margin-top $padding-side $input-margin-bottom;

        @media print {
          padding-left: 0;
        }
      }
    }

    app-autocomplete {
      position: absolute;
      top: calc(100% + #{$border-width});
    }
  }

  &:not(.empty) > ::ng-deep [appTextFieldRef], &:focus-within > ::ng-deep [appTextFieldRef] {
    opacity: 1;
  }

  &:not(.empty) > ::ng-deep label, &:focus-within > ::ng-deep [appTextFieldRef] + label {
    transform: translateY($cube * -10) scale(0.95);
  }

  &.error {
    border-color: $red-dark;
  }
}
