@import 'vars';

:host {
  display: flex;
  flex-direction: row;
  padding: $cube * 5;
  border: $cube * 2 solid $card-border;
  background-color: $card-background;
  border-radius: $cube * 5;
  column-gap: $cube * 10;

  button, select {
    padding: 0 $cube * 8;
    border: $cube * 2 solid $gray;
    background-color: $gray;
    border-radius: $cube * 5;
    cursor: pointer;
    outline: none;
  }

  button.selected {
    border-color: $black;
  }
}
