@use 'sass:list';
@import 'vars';

$colors: (
  'default': ($primary, $primary-dark),
  'green': ($green, $green-dark),
  'yellow': ($yellow, $yellow-dark),
  'red': ($red, $red-dark)
);

$margin-bottom: $cube * 10;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $cube * 8 $cube * 20;
  margin-bottom: $margin-bottom;
  border-radius: $cube * 4;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  @media print {
    display: none;
  }

  ::ng-deep [appIcon] {
    display: block;
    width: $cube * 21;
    height: $cube * 21;
    margin-right: $cube * 5;
    fill: $secondary-text-color;
  }

  ::ng-deep span {
    color: $secondary-text-color;
    cursor: inherit;
  }

  @each $name, $color in $colors {
    &.#{$name} {
      background-color: list.nth($color, 1);

      &:hover {
        background-color: list.nth($color, 2);
      }

      &:active {
        box-shadow: inset 0 0 $cube * 10 0 list.nth($color, 1);
        transition: none;
      }
    }
  }

  &.yellow ::ng-deep {
    span {
      color: $text-color;
    }

    [appIcon] {
      fill: $text-color;
    }
  }

  &.disabled {
    cursor: not-allowed;

    &, &:hover {
      background-color: $black;
    }

    &:active {
      box-shadow: none;
    }
  }
}
