<div *ngIf="history" class="header">
  <h1>Kakteen Chronik</h1>

  <div class="buttons">
    <app-button label="Datenblatt" link="../datasheet">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
      </svg>
    </app-button>
    <app-button (click)="update()" flavor="good" label="Speichern">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
      </svg>
    </app-button>
  </div>

</div>

<app-cacti-cactus-not-found *ngIf="!history; else e"></app-cacti-cactus-not-found>

<ng-template #e>
  <h3>Neuen Eintrag</h3>
  <app-cacti-history-entry [cactusId]="cactusId!"></app-cacti-history-entry>

  <p *ngIf="!history!.length; else notEmpty">Es gibt noch keine Enträge, erstelle doch einen!</p>

  <ng-template #notEmpty>
    <h3>Bestehende Einträge</h3>
    <app-cacti-history-entry *ngFor="let entry of history; trackBy trackBy" [entry]="entry"></app-cacti-history-entry>
  </ng-template>
</ng-template>
