@import 'vars';

:host {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 $page-padding;
  border-bottom: $cube * 2 solid $header-border;
  background-color: $header-color;

  a {
    display: flex;
    flex-direction: column;
    color: $secondary-text-color;
    text-decoration: none;

    &::after {
      width: 0;
      height: $cube * 2;
      background-color: $secondary-text-color;
      content: '';
      transition: width 100ms ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .title h2 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    column-gap: $cube * 15;

    a {
      font-size: $cube * 18;
    }
  }
}
