<form (submit)="saveEntry().subscribe()" [formGroup]="form">
  <!-- To enable 'enter' for save. -->
  <input style="display: none;" type="submit">

  <!-- TODO: check if dirty -->

  <div class="row">
    <div class="col-12 col-md-3">
      <app-text-field>
        <label>Datum</label>
        <input appTextFieldRef formControlName="date" type="date">
      </app-text-field>
    </div>
    <div class="col-12 col-md-9">
      <app-text-field>
        <label>Inhalt</label>
        <app-editor appTextFieldRef>
          <div contenteditable formControlName="content"></div>
        </app-editor>
      </app-text-field>
    </div>
  </div>
</form>
