$primary: var(--color-primary);
$primary-dark: var(--color-primary-dark);

$secondary: var(--color-secondary);
$secondary-dark: var(--color-secondary-dark);

$ternary: var(--color-ternary);
$ternary-dark: var(--color-ternary-dark);

$good: var(--color-good);
$good-dark: var(--color-good-dark);

$danger: var(--color-danger);
$danger-dark: var(--color-danger-dark);

$font-family: var(--font-family);
$font-size: var(--font-size);
$font-weight: var(--font-weight);
$font-weight-bold: var(--font-weight-bold);

$page-width: var(--page-width);

$background: var(--color-background);
$background-dark: var(--color-background-dark);
$text: var(--color-text);
$text-dark: var(--color-text-dark);
$text-inverted: var(--color-text-inverted);
$text-inverted-dark: var(--color-text-inverted-dark);

$cube: 0.0625rem;
$page-padding: $cube * 20;
