<form [formGroup]="form">
  <app-text-field>
    <label>
      Nummer
      <input formControlName="number" type="text">
    </label>
  </app-text-field>

  <app-text-field>
    <label>
      Gattung
      <input formControlName="genusName" type="text">
    </label>
  </app-text-field>

  <app-text-field>
    <label>
      Art
      <input formControlName="specieName" type="text">
    </label>
  </app-text-field>

  <app-text-field>
    <label>
      Form
      <input formControlName="formName" type="text">
    </label>
  </app-text-field>

  <app-text-field>
    <label>
      Feldnummer
      <input formControlName="fieldNumber" type="text">
    </label>
  </app-text-field>

  <app-text-field>
    <label>
      Synonyme
      <textarea appTextareaAutoresize formControlName="fieldNumber"></textarea>
    </label>
  </app-text-field>

  <app-text-field (option)="selectCareGroup($event)">
    <label formGroupName="careGroup">
      Pflegegruppe
      <input formControlName="name" type="text">
      <ul id="care-group">
        <li *ngFor="let careGroup of searchedCareGroups; trackBy trackBy"
            [appAutocompleteOption]="careGroup.id">
          {{careGroup.name}}
        </li>
      </ul>
    </label>
  </app-text-field>
</form>
