{{form.value|json}}

<form [formGroup]="form">

  <app-text-field formControlName="number" label="Nummer">
  </app-text-field>

  <app-text-field formControlName="genusId" label="Gattung" [search]="searchGenre">
  </app-text-field>

  <app-text-field formControlName="specieId" label="Art" [search]="searchSpecie">
  </app-text-field>

  <app-text-field formControlName="formId" label="Form" [search]="searchForms">
  </app-text-field>

  <app-text-field formControlName="fieldNumber" label="Feldnummer">
  </app-text-field>

  <app-text-field formControlName="synonymes" label="Synonyme" [multiline]="true">
  </app-text-field>

  <app-text-field formControlName="careGroupId" label="Pflegegruppe" [search]="searchCareGroups">
  </app-text-field>
</form>
