@import 'vars';

:host {
  display: flex;
  width: 100%;

  section {
    display: grid;
    flex-grow: 1;
    column-gap: $page-padding;
    grid-template-columns: repeat(auto-fill, minmax($cube * 600, 1fr));
    row-gap: $page-padding;
  }
}
