<div *ngIf="custom; else simple">
  <input>
  <input>
</div>

<ng-template #simple>
  <app-text-field>
    <label>Auflösung</label>
    <select [formControl]="range" appTextFieldRef>
      <option value="0.5">Letzte halbe Stunde</option>
      <option value="1">Letzte Stunde</option>
      <option value="3">Letzte 3 Stunde</option>
      <option value="6">Letzte 6 Stunde</option>
      <option value="12">Letzte 12 Stunde</option>
      <option value="24" >Letzte 24 Stunde</option>
      <option value="48">Letzte 2 Tage</option>
      <option value="72">Letzte 3 Tage</option>
      <option value="168">Letzte 7 Tage</option>
      <option value="720">Letzte 30 Tage</option>
      <option value="2160">Letzte 90 Tage</option>
      <option value="4383">Letzte 6 Monate</option>
      <option value="8760">Letztes Jahr</option>
      <option value="17520">Letzte 2 Jahre</option>
      <option value="43800">Letzte 5 Jahre</option>
    </select>
  </app-text-field>
</ng-template>
