// see: https://flatuicolors.com/palette/de
$red: #fc5c65;
$red-dark: #eb3b5a;
$orange: #fd9644;
$orange-dark: #e05d06;
//$orange-dark: #fa8231;
$yellow: #fed330;
$yellow-dark: #f7b731;
$green: #26de81;
$green-dark: #20bf6b;
$cyan: #45aaf2;
$cyan-dark: #2d98da;
$blue: #4b7bec;
$blue-dark: #3867d6;
$purple: #a55eea;
$purple-dark: #8854d0;
$white: #fff;
// see: https://flatuicolors.com/palette/defo
$gray: darken($white, 2%);
$black: #34495e;
$black-dark: #2c3e50;
// ----------------------
$primary: $orange;
$primary-dark: $orange-dark;
$secondary: $black;
$secondary-dark: $black-dark;
// ----------------------

$light-theme: (
  // see: https://flatuicolors.com/palette/de
  red: $red,
  red-dark: $red-dark,
  orange: $orange,
  orange-dark: $orange-dark,
  yellow: $yellow,
  yellow-dark: $yellow-dark,
  green: $green,
  green-dark: $green-dark,
  cyan: $cyan,
  cyan-dark: $cyan-dark,
  blue: $blue,
  blue-dark: $blue-dark,
  purple: $purple,
  purple-dark: $purple-dark,
  // see: https://flatuicolors.com/palette/defo
  white: $white,
  gray: $gray,
  black: $black,
  black-dark: $black-dark,
  // ----------------------
  primary: $orange,
  primary-dark: $orange-dark,
  secondary: $black,
  secondary-dark: $black-dark,
  // ----------------------
  background-color: $gray,
  header-color: $primary-dark,
  header-border: darken($gray, 6%),
  sidebar-color: $gray,
  text-color: $secondary,
  secondary-text-color: $white,
  card-background: $white,
  card-border: darken($gray, 4%)
);
