$red: var(--red);
$red-dark: var(--red-dark);
$orange: var(--orange);
$orange-dark: var(--orange-dark);
$yellow: var(--yellow);
$yellow-dark: var(--yellow-dark);
$green: var(--green);
$green-dark: var(--green-dark);
$cyan: var(--cyan);
$cyan-dark: var(--cyan-dark);
$blue: var(--blue);
$blue-dark: var(--blue-dark);
$purple: var(--purple);
$purple-dark: var(--purple-dark);
$white: var(--white);
$gray: var(--gray);
$black: var(--black);
$black-dark: var(--black-dark);

$primary: var(--primary);
$primary-dark: var(--primary-dark);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);

$background-color: var(--background-color);
$header-color: var(--header-color);
$header-border: var(--header-border);
$sidebar-color: var(--sidebar-color);
$text-color: var(--text-color);
$secondary-text-color: var(--secondary-text-color);
$card-background: var(--card-background);
$card-border: var(--card-border);
