@import 'scss/constants';
@import 'scss/font';
@import 'src/scss/base';
@import 'vars';

body {
  background-color: $background;
  margin: 0;
}

::selection {
  background-color: $primary;
  color: $secondary;
}

svg {
  fill: $text;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0;
}
