<h1>Sensor Bearbeiten</h1>
<form [formGroup]="form">
  <app-text-field>
    <label>Name</label>
    <input appTextFieldRef formControlName="name" type="text">
  </app-text-field>

  <app-text-field>
    <label>Beschreibung</label>
    <input appTextFieldRef formControlName="description" type="text">
  </app-text-field>

  <app-text-field>
    <label>Einheit</label>
    <input appTextFieldRef formControlName="unit" type="text">
  </app-text-field>

  <app-text-field>
    <label>Darstellung</label>
    <select appTextFieldRef formControlName="illustration">
      <option value="LINE_CHART">Liniendiagramm</option>
    </select>
  </app-text-field>

  <app-text-field formGroupName="group">
    <label>Gruppe</label>
    <input appTextFieldRef formControlName="name" type="text">

    <app-autocomplete (option)="selectGroup($event)">
      <app-option *ngFor="let group of searchedGroups | async; trackBy trackBy"
                  [itemId]="group.id">
        {{group.name}}
      </app-option>
    </app-autocomplete>
  </app-text-field>

  <app-button (click)="save()" [disabled]="!form.valid">
    <svg appIcon viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
    </svg>
    <span>Speichern</span>
  </app-button>
</form>
