<label [class.hasOptions]="search && focus && searchResult?.length">
  <span>{{label}}</span>

  <textarea (blur)="onBlur()"
            (focus)="onFocus()"
            (keydown)="onKeydown($event)"
            *ngIf="type === 'multiline'; else singleLine"
            cdkTextareaAutosize
            ngDefaultControl>
  </textarea>

  <ng-template #singleLine>
    <input (blur)="onBlur()"
           (focus)="onFocus()"
           (keydown)="onKeydown($event)"
           [type]="type"
           ngDefaultControl>
  </ng-template>

  <ul *ngIf="search && focus && searchResult?.length">
    <li (click)="selectResult($event, i)"
        (mouseenter)="hoverResult(i)"
        *ngFor="let result of searchResult; let i = index; trackBy trackBy"
        [class.selected]="selectedResult === i">
      {{result.name}}
    </li>
  </ul>
</label>
